name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  DEVELOPER_DIR: /Applications/Xcode_12_beta.app/Contents/Developer
      
jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
    - name: Install unibetacode
      run: brew install qmoya/formulae/unibetacode
    - name: Run tests
      run: xcodebuild test -workspace .swiftpm/xcode/package.xcworkspace -scheme Bekker -destination 'platform=macos'
